<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>02-hello-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name> MyFirstServlet </servlet-name>
  	<servlet-class>com.sh.web.person.TestPersonServlet1</servlet-class>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name> MyFirstServlet </servlet-name>
	  <url-pattern> /testPerson1.do </url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name> MyFirstServlet-Post</servlet-name>
  	<servlet-class>com.sh.web.person.TestPersonServlet2</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name> MyFirstServlet-Post </servlet-name>
  	<url-pattern> /testPerson2.do </url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name> MyFirstServlet3 </servlet-name>
  	<servlet-class>com.sh.web.person.TestPersonServlet3</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name> MyFirstServlet3  </servlet-name>
  	<url-pattern> /testPerson3.do </url-pattern>
  </servlet-mapping>
  
</web-app>